.git
.gitignore
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

